/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-lightblue: #add8e6;
    --bg-orange: #daa520;
    --bg-blue: #00008b;
    --bg-pink: #ee82ee;
    --bg-skyblue: #1e90ff;
    --bg-lightpink: #ffc0cb;
    --bg-gray: #d3d3d3;
    --bg-green: #228b22;
    --bg-salmon: #f08080;
    --bg-seagreen: #20b2aa;
    --bg-darkgray: #23272a;
    --bg-aquamarine: #7fffd4;
    --height-block: 600px;
    --height-cont: 400px;
    --height-padd: 50px;

}

/* COMMON */
.container-header {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;

}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;



}


.center {
    display: flex;
    justify-content: center;

}

.row {
    display: flex;
    justify-content: space-between;
}

.end {
    text-align: end;
}

.col-17 {
    width: 17.5%;

    /* DEBUG */
    border: 2px dashed white;
}

.col-25 {
    width: 25%;

    /* DEBUG */
    border: 2px dashed black;
}

.col-30 {
    width: 30%;

    /* DEBUG */
    border: 2px dashed black;
}

.col-50 {
    width: 50%;

    /* DEBUG */
    border: 2px dashed black;
}

.col-70 {
    width: 70%;

    /* DEBUG */
    border: 2px dashed black;
}


.navbar div {
    padding: 5px;
    /* border: 2px dashed black; */
}

/* HEADER */

.header {
    background-color: var(--bg-lightblue);

    /* DEBUG */
    height: var(--height-padd);
    /* border: 2px solid black; */
}

.navbar {
    background-color: var(--bg-orange);



    /* DEBUG */
    /* border: 2px solid red; */
}

/* MAIN */

.bg-blue {
    background-color: #00008b;
    padding: var(--height-padd);

    /* DEBUG */
    height: var(--height-block);
    /* border: 2px solid red; */

}

.pink-square {
    background-color: #ee82ee;

    width: 60%;
    max-width: 800px;
    margin: 0 auto;


    /* DEBUG */
    height: var(--height-cont);
    /* border: 2px solid black; */
}

.bg-white {
    padding: var(--height-padd);
    /* DEBUG */
    height: var(--height-block);
    border: 2px solid black;
}

.bg-skyblue {
    background-color: var(--bg-skyblue);

    /* DEBUG */
    height: var(--height-cont);
}

.bg-lightpink {
    background-color: var(--bg-lightpink);

    /* DEBUG */
    height: var(--height-cont);
}

.bg-gray {
    background-color: var(--bg-gray);
    padding: var(--height-padd);
    /* DEBUG */
    height: var(--height-block);
    border: 2px solid black;
}

.bigger {
    height: 1000px;
}

.bg-green {
    background-color: var(--bg-green);
    padding: 100px;
    width: 100%;

    /* DEBUG */
    height: 800px;
    border: 2px solid black;
}

/* FOOTER */

.bg-darkgray {
    background-color: var(--bg-darkgray);

    /* DEBUG */

    border: 2px solid red;
}

.bg-salmon {
    background-color: var(--bg-salmon);

    /* DEBUG */
    height: 700px;

}

.bg-seagreen {
    background-color: var(--bg-seagreen);

    /* DEBUG */
    height: 700px;
    border: 2px dashed white;

}

hr {
    border-color: white;
    margin: 50px 0;
}

.bg-aquamarine {
    background-color: var(--bg-aquamarine);
    width: 100%;
    /* DEBUG */
    height: 80px;
    border: 2px solid red;
    
}

.button{
    background-color: var(--bg-salmon);
    width: 100px;
    padding: 5px;
    border: 2px dashed black;
    text-align: center;
    align-self: center;
}